@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --primary-bg: #0B0F14;
  --secondary-bg: #F8FAFC;
  --accent-green: #10B981;
  --text-gray: #374151;
}

body {
  background-color: var(--primary-bg);
  color: white;
  scroll-behavior: smooth;
}
